.container {
  min-height: 92vh;
  background: #118ab2;
  .wrapper {
    width: 80%;
    margin: 0rem auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .header {
    display: flex;
    width: 80%;
    padding-top: 4rem;
    margin: 0rem auto;
    justify-content: space-evenly;
  }
}
