.container {
  height: 3rem;
  width: 17rem;
  border-radius: 10px;
  background: #fffae6;
  color: #ff8b00;
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  bottom: 20%;
  right: 2%;
  transition: transform 0.6s ease-in-out;
  animation: toast-in 0.7s;
  cursor: pointer;
}

.alert {
  bottom: 50%;
  right: 2%;
}

.success {
  background: #e3fcef;
  color: #237b5b;
}

.error {
  background: #ffebe6;
  color: #bf2600;
}

.warning {
  background: #fffae6;
  color: #ff8b00;
}

@keyframes toast-in {
  from {
    transform: translatex(100%);
  }
  to {
    transform: translatex(0);
  }
}

@media screen and (max-width: 420px) {
  .container {
    height: 2.5rem;
    width: 14rem;
    font-size: 0.9rem;
    bottom: 3%;
    right: 2%;
    transition: transform 0.6s ease-in-out;
    animation: toast-in 0.7s;
    cursor: pointer;
  }

  .alert {
    bottom: 55%;
    right: 2%;
  }
}
